.env
vendor/
.DS_Store
credentials.json  
.gitignore                                                                                                                                                                                           
